extends /layouts/default

block styles
  link(rel='stylesheet', href='/css/main.css')

block scripts
  script(type="text/javascript", src="js/vendors/emitter/emitter.js")
  script(type="text/javascript", src="js/vendors/pixi/pixi.js")
  script(type="text/javascript", src="js/main.js")

block content
  div hello world 3 
